.sidebar{
    width:100%;
    height:100%;
    box-sizing: border-box;
    border: 1px solid lightsteelblue;
    text-align:center;
    margin:auto;
    border-radius:15px

}
 .sidebar div{
     border-radius:0 0 0 15px
 }

.List{
    margin:0;
    /* background-color:#a7e2cb */
}