.title{
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
    background-color:lightgray;
    width:100%
}

.description{
    margin-top:5px;
    box-sizing:border-box;
    background-color:gray;
    display:block;
}

.date{
    font-style:italic;
    display:block;
}