.tabItems{
    cursor:pointer;
    width:33.33333333333333%
}

.tabLeft{
    border-radius:15px 0 0 0;
}

.tabRight{
    border-radius:0;
}
@media only screen and (max-width:576px){
    .tabRight{
        border-radius:0 15px 0 0
    }
}

