<% include ../partials/header %>

<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top img-responsive" src="https://i.imgur.com/ILE5J8S.jpg">
        <a href="/newcar" class="btn btn-primary">Add new car</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top img-responsive" src="https://i.imgur.com/WH90G2T.jpg">
        <a href="newtruck" class="btn btn-primary">Add new truck</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top img-responsive" src="https://i.imgur.com/uLtJNeM.jpg">
        <a href="/newfork" class="btn btn-primary">Add new fork-lift</a>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>