<% include ../partials/header %>
<h1>Providers Management</h1>
<table>
    <thead>
        <tr>
            <th scope='col'> #</th>
            <th scope='col'>Full Name</th>
            <th scope='col'>Company</th>
            <th scope='col'>Account Management</th>
        </tr>
    </thead>
    <tbody>
    <% count = 0 %>
    <% provider.forEach(function(provider) { %>
        <% if(provider.companyName){ %>
        <% count = count+1 %>
        <tr>
            <th scope="row"><%=count%></th>
            <td><%= provider.firstname+" "+provider.lastname %></td>
            <td><%=provider.companyName%></td>
            <td><a href='/providers/<%=provider._id%>/manage'>Manage</a></td>
        </tr>
        <% }}) %>
    </tbody>
</table>
<hr>
<a type="button" class="btn btn-secondary btn-sm" href="/newProvider">Add New Provider</a>

<% include ../partials/footer %>