.Layout{
    height:1024px;
    width:768px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    border: 2px solid salmon;
    box-align: center;
}

.Sidebar{
    width:40%;
}

.Info{
    width:60%
}


