.Layout{
    height:auto;
    width:768px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    border: 2px solid salmon;
    box-align: center;
    border-radius:15px;
    padding-bottom:20px;
    background:url(https://images.pexels.com/photos/97076/pexels-photo-97076.jpeg?cs=srgb&dl=notebook-pen-97076.jpg&fm=jpg)
}
@media only screen and (min-width:576px){
    .Layout div div:nth-child(1){
        border-radius:15px 0 0 15px
    }
    
    .Layout div div:nth-child(2){
        border-radius:0 15px 15px 0
    }
    
    .Layout div div:nth-child(2) div{
        border-radius:0 15px 15px 0
    }
    
    
} 

@media only screen and (max-width:576px){
    .Layout div div:nth-child(1){
        border-radius:15px
    }
    
    .Layout div div:nth-child(2){
        border-radius:15px
    }
    
    .Layout div div:nth-child(2) div{
        border-radius:15px
    }
}
