.Input{
    width:100%;
    padding:10px;
    box-sizing: border-box;
}

.InputElement {
    outline:none;
    border:1px solid #ccc;
    background-color:white;
    font:inherit;
    padding:2px 6px;
    display:inline-block;
    width:100%;
    box-sizing: border-box;
}

.InputElement:focus{
    outline:none;
    background-color:#ccc;
}

.TextArea{
    outline:none;
    border:1px solid #ccc;
    background-color:white;
    font:inherit;
    padding:2px 6px;
    display:inline-block;
    height:60px;
    width:100%;
    box-sizing:border-box;
}

.TextArea:focus{
    outline:none;
    background-color:#ccc;
    
}