<% include ../partials/header %>

<h1> New requisition</h1>

<form action="/newjob" method="post">
    <label for="description">Description</label>
    <div class="form-group">
        <input type="text" id="description" name="description" class="form-control" placeholder="Insert the description here of the requisition here">
    </div>
    
    <label for="product">Product</label>
    <div class="form-group">
        <input class="form-control" type="text" id="product" name="product" placeholder="Insert the product name here">   
    </div>
    
    <label for="quantity">Quantity</label>
    <div class="form-group">
        <input class="form-control"  type="text" id="quantity" name="quantity" placeholder="Input the quantity here">
    </div>
    
    <label for="expire">Expire Time</label>
    <div class="form-group">
        <input class="form-control" type="text" id="expire" name="expireTime" placeholder="If the product has an expiring time, insert here">
    </div>
    <label for="term">Intended Term</label>
    <div class="form-group">
        <input class="form-control" id="term" type="date" name="term">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Register new requisiton</button>
    </div>
</form>

<% include ../partials/footer %>