<% include ../partials/header %>
<h1>Employees Management</h1>
<table>
    <thead>
        <tr>
            <th scope='col'> #</th>
            <th scope='col'>Full Name</th>
            <th scope='col'>Role</th>
            <th scope='col'>Account Management</th>
        </tr>
    </thead>
    <tbody>
    <% count = 0 %>
    <% employee.forEach(function(employee) { %>
        <% if(employee.accountType == 3 || employee.accountType == 2){ %>
        <% count = count+1 %>
        <tr>
            <th scope="row"><%=count%></th>
            <td><%= employee.firstname+" "+employee.lastname %></td>
            <td><%=employee.role%></td>
            <td><a href='/employees/<%=employee._id%>/manage'>Manage</a></td>
        </tr>
        <% }}) %>
    </tbody>
</table>
<hr>
<a type="button" class="btn btn-secondary btn-sm" href="/newemployee">Add New Employee</a>

<% include ../partials/footer %>