<% include ../partials/header %>

<h1>New employee registration</h1>

<form action="/newemployee" method="post">
    <label for="firstname">First Name</label>
    <div class="form-group">
      <input class="form-control" id="firstname" type="text" name="firstname" placeholder="Insert Employee's First Name">
    </div>
    <label for="lastname">Last Name</label>
    <div class="form-group">
      <input id="lastname" class="form-control" type="text" name="lastname" placeholder="Insert Employee's Last Name">
    </div>
    <label for="birth">Date of Birth</label>
    <div class="form-group">
      <input id="birth" class="form-control" type="date" name="birth">
    </div>
    <label for="adress">Adress</label>
    <div class="form-group">
      <input id="adress" class="form-control"  type="text" name="adress" placeholder="Insert Employee's adress">
    </div>
    <label for="education">Education</label>
    <div class="form-group">
      <select id-"education" name="education">
        <option value="middle-school">Middle School</option>
        <option value="HighSchool">HighSchool</option>
        <option value="College">College Education</option>
        <option value="University">University</option>
      </select>
    </div>
    <label for="experience">Experience</label>
    <div class="form-group">
      <textarea id="experience" class="form-control" type="text" name="experience" placeholder="Insert Employee's Experience"></textarea>
    </div>
    <label for="role">Role</label>
    <div class="form-group">
     <select id-"role" name="role">
        <option value="Truck Driver">Truck Driver</option>
        <option value="Office">Office</option>
        <option value="Shed Manager">Shed Manager</option>
        <option value="ForkLift Operator">ForkLift Operator</option>
        <option value="Cleaning Services">Cleaning Services</option>
        <option value="Cooker">Cooker</option>
        <option value="Manager">Manager</option>
        <option value="IT"> IT </option>
      </select>
    </div>
    <label for="username">Username</label>
    <div class="form-group">
      <input id="username" class="form-control" type="text" name="username" placeholder="Insert Employee's login username">
    </div>
    <label for="password">Password</label>
    <div class="form-group">
      <input id="password" class="form-control" type="password" name="password" placeholder="Insert Employee's login password">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Register new employee</button>
    </div>
</form>



<% include ../partials/footer %>